body {
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(0px); */
}

.titulo {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    color: white;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
}

.form-control, .form-select {
    border-radius: 10px;
    margin-bottom: 15px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: #f4c542;
    color: black;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #e0b12d;
}

/* Rejilla de productos */
.row {
    margin-top: 40px;
}

.producto {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: scale(1.03);
}

.producto img {
    width: 95%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.img:hover {
    transform: scale(1.2);
}
.choices__list--dropdown {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.choices__item--selectable {
  color: #333;
  background-color: #fff;
  transition: background 0.2s ease;
}

.choices__item--selectable:hover {
  background-color: #0077ff;
  color: #53330e;
}